/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
.idea
Homestead.json
Homestead.yaml
.env
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
/nbproject
_ide_helper.php
composer.phar
error.log
Todo.rtf
.vagrant
/.vagrant
yarn-error.log
phpunit.txt

*~
am_cache
.idea
*.swp
*.swo
node_modules
public/data/
/data/logg.txt
**/menus/
**/images/
js/gen/script.js
css/gen/style.css
config.inc.php
cache
tmp
tests/_output/*vendor
tests/_support/_generated/
.composer
chat/.npm

composer.lock
/node_modules
/public/hot
/public/storage
/public/js/script.js
/public/css/style.css
/storage/*.key
/storage/installed
/.idea
/.vagrant
resources/lang
packages/foodsharing/platform/src/lang
.env