// Fonts
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i");

@font-face{
  font-family:'Alfa Slab One';
  src:url('/fonts/alfaslabone/alfaslabone-regular.eot');
  src:url('/fonts/alfaslabone/alfaslabone-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/alfaslabone/alfaslabone-regular.woff') format('woff'), url('/fonts/alfaslabone/alfaslabone-regular.ttf') format('truetype'), url('/fonts/alfaslabone/alfaslabone-regular.svg#alfa_slab_oneregular') format('svg');
  font-weight:normal;
  font-style:normal
}

@import "variable-overrides";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~font-awesome/scss/font-awesome";

@import "variables";
@import "core";
@import "mixins";

// Helpers
@import "../helpers";

@import "header";
@import "sidebar";
@import "sidebar-mini";
@import "control-sidebar";
@import "dropdown";
@import "forms";
@import "progress-bars";
@import "small-box";
@import "boxes";
@import "info-box";
@import "timeline";
@import "buttons";

@import "callout";
@import "alerts";
@import "navs";
@import "products";
@import "table";
@import "labels";
@import "direct-chat";
@import "users-list";
@import "carousel";
@import "modal";

// Pages
@import "mailbox";
@import "lockscreen";
@import "login_and_register";
@import "404_500_errors";
@import "invoice";

@import "fullcalendar";

// Skins
@import "skins/_all-skins";

// Other
@import "custom";

// Miscellaneous
@import "miscellaneous";
@import "print";

// Plugins
@import "../plugin/sweetalert/sweetalert.scss";

.popover {
  max-width: 500px !important;
}
.panel-primary
{
  border:0 !important;
}
.logo-lg > span
{
  color:#5AB946;
}