// Navbar active state

.navbar
{
  background-color: $color-brown !important;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text
{
  background-color: transparent !important;
  color: white;
}
.navbar-brand{
  color: white !important;
  font-family: 'Alfa Slab One';
}
.navbar-brand > span
{
  color: $color-green;
}
.navbar-brand:hover
{
  filter:     Alpha(opacity=20);
  opacity:    0.8;
  moz-opacity:    0.8;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover
{
  background-color: darken($color-brown, 20%);
}
.dropdown-menu
{
  background-color: white;
  color: $color-brown;
  border-color: white;
}

.dropdown-menu>li>a
{
  color: $color-brown;
  @include corners();
  margin:0 3px;
}
.dropdown-menu>li>a:hover
{
  background-color: $color-green;
  color: white;
}

.navbar-inverse .navbar-toggle {
  background-color: $color-green;
  border-color: $color-green;
}
.navbar-inverse .navbar-toggle:hover {
  background-color: darken($color-green, 15);
  border-color: darken($color-green, 15);
}

.nav>li>a
{
  padding: 8px 12px!important;
  margin: 3px;
  @include corners();
}
.nav>li>a:hover
{
  background-color: $color-green;
}
.navbar-brand
{
  padding:8px;
  height:auto;
  line-height:inherit;
}

@media (min-width:768px) {
  .navbar-inverse {
    min-height:30px;
  }
}

