// Body
$body-bg: #F1E7C9;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// colors
$color-brown: #4A3520;
$color-green: #5AB946;

// Brands
$brand-primary: $color-green;
$brand-info: #8eb4cb;
$brand-success: $color-green;
$brand-warning: #cbb956;
$brand-danger: #bf5329;


// Typography
$fa-font-path: "~font-awesome/fonts/";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Helvetica Neue",Helvetica,Arial,"lucida grande",tahoma,verdana,arial,sans-serif;
$font-size-base: 13px;
$line-height-base: 1.6;
$text-color: lighten(#000, 15%);

// Navbar
$navbar-default-bg: $color-brown;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: white;